* {
    /* outline: red 1px solid; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    min-width: 20em;
    width: min(70%, 25em);
    min-width: 310px;
    max-height: clamp(350px, 80%, 30em);
}
.history {
    position:absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    padding: .25em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 90%;
    width: 90%;
    .history-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        span {
            font-size: 1.3em;
            font-weight: 800;
        }
        button {
            background-color: rgb(255, 0, 0);
            color: rgb(255, 255, 255);
            border-radius: 30%;
            padding: .3em;
            border: none;
        }
    }
    .history-values {
        font-size: 1.5em;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        max-height: 320px;
        padding: .25em;
        text-align: right;
        word-wrap: break-word;
        .stored-eval {
            color: rgb(8, 211, 8);
            font-size: 1em;
        }
    }

}
.history.visible {
    visibility: visible;
}

.wrapper:nth-child(2) {
    height: 6em;
    background-image: linear-gradient(180deg, rgb(158, 145, 145) 30%, rgb(231, 228, 209));
    text-align: right;
    .expression {
        height: 50%;
        font-size: 1.5rem;
    }
    .eval {
        height: 50%;
        font-size: 2rem;
    }
}
.wrapper:nth-child(2), .row {
    padding: .5em 1em;
}
.row{
    background-color: rgb(128, 128, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.char{
    font-size: 1.5rem;
    font-weight: 800;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    text-align: center;  
    vertical-align: middle;
    border: none; 

}
.row1 .char1 {
    background-color: rgb(219, 17, 17);
    color: rgb(240, 236, 236);
}
.row6 .char4 {
    background-color: rgb(7, 119, 4);
    color: rgb(240, 236, 236);
}
.char:active{
    scale: 120%;
    background-color: rgb(4, 129, 167);
}
button {
    cursor: pointer;
}