* {
    /* outline: red 1px solid; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(22, 22, 22, 0.3) 0% 10% , rgb(247, 245, 245),rgba(22, 22, 22, 0.3) 90%);

}
body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2em;
 }
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: clamp(19em, calc(19em + 30vh), 25em);
    height: clamp(350px, calc(22em + 30vh), 90vh);
}
.history {
    position:absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    padding: .25em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 90%;
    width: 90%;
    .history-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        span {
            font-size: 1.3em;
            font-weight: 800;
        }
        button {
            background-color: rgb(255, 0, 0);
            color: rgb(255, 255, 255);
            border-radius: 30%;
            padding: .3em;
            border: none;
        }
    }
    .history-values {
        font-size: 1.5em;
        overflow-y: auto;
        height: 100%;
        width: 100%;
        max-height: 320px;
        padding: .25em;
        text-align: right;
        word-wrap: break-word;
        .stored-eval {
            color: rgb(8, 211, 8);
            font-size: 1em;
        }
    }

}
.history.visible {
    visibility: visible;
}

.wrapper:nth-child(2) {
    flex: 0 1 20%;
    background-image: linear-gradient(180deg, rgb(22, 22, 22, .3) 30%, rgb(231, 228, 209));
    text-align: right;
    .expression, .eval {
        word-wrap:break-word;
    }
    .expression:not(.evaluated) {
        font-size: .8rem;
    }
    
    .eval, .expression.evaluated {
        color:  rgb(0,150,0);
        font-weight: 700;
        font-style: italic;
    }
    .eval.error, .eval.digitError {
        color: rgb(247, 15, 15);
    }
}
.wrapper:last-of-type{
    flex: 1 1 100%;
}
.wrapper:nth-child(2), .row {
    padding: .5em 1em;
}
.row{
    background-color: rgba(22, 22, 22, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.char{
    font-weight: 800;
    width: 3em;
    height: 2em;
    border-radius: 10%;
    text-align: center;  
    vertical-align: middle;
    border: none; 
}
.row1 .char1 {
    background-color: rgb(219, 17, 17);
    color: rgb(240, 236, 236);
}
.row6 .char4 {
    background-color: rgb(7, 119, 4);
    color: rgb(240, 236, 236);
}
.char:active{
    scale: 120%;
    background-color: rgb(4, 129, 167);
}
button {
    cursor: pointer;
}